#container {
    position: absolute;
    width: 85%;
    /* top: 90%; */
    /* left: 73%; */
}

#pay {
    /* float: right; */
    background-color: #FF8857;
    /* margin-left: 50px; */
    height: auto;
    width: 100%;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    border: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}