#container {
    position: absolute;
    top: 90%;
    left: 73%;
}

#pay {
    /* float: right; */
    background-color: #EAAD3A;
    /* margin-left: 50px; */
    height: auto;
    width: auto;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    border: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}