.cartMenu {
<<<<<<< HEAD
    /* position: relative; */
    width: 220px;
=======
    width: 100%;
>>>>>>> 8789824767e381c839174c39fcafc3ee90b8b9c0
    height: auto;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.cartMany {
    font-size: 18px;
    width: 50px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
}