@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.dialog {
    position: relative;
    margin: 10px;
    width: 400px;
    height: auto;
    padding: 10px;
    background: #c2ecb2;
    border-radius: 10px 10px 10px 3px;
    box-shadow: 1px 1px 1px 1px gray;
    /* font-weight: bold; */
    font-size: 20px;
}

.dialog_long{
    position: relative;
    margin: 10px;
    width: 500px;
    height: auto;
    padding: 10px;
    background: #c2ecb2;
    border-radius: 10px 10px 10px 3px;
    box-shadow: 1px 1px 1px 1px gray;
    /* font-weight: bold; */
    font-size: 20px;
}

.dialog2 {
    position: relative;
    margin: 10px;
    width: 600px;
    height: auto;
    padding: 10px;
    background: #ececec;
    /* background: none; */
    border-radius: 10px 10px 10px 3px;
    /* box-shadow: 1px 1px 1px 1px gray; */
    /* font-weight: bold; */
}

.input {
    padding: 4px 4px 4px 4px;
}

.button1 {
    padding: 5px;
    margin: 3px;
    background-color: #f5d682;
    border: 1px solid;
    /* font-weight: bold; */
    border-radius: 3px;
    font-size:20px;
    width:170px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.button1:hover {
    background-color: #a59056;
}

#burgerimg{
    width: 150px;
}
#drinkimg{
    height: 110px;
}
#sideimg{
    height: 110px;
}