.dialog {
    position: relative;
    margin: 10px;
    width: 400px;
    height: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px 10px 10px 3px;
    box-shadow: 1px 1px 1px 1px gray;
    font-weight: bold;
}

.dialog2 {
    position: relative;
    margin: 10px;
    width: 400px;
    height: auto;
    padding: 10px;
    background: #ececec;
    /* background: none; */
    border-radius: 10px 10px 10px 3px;
    /* box-shadow: 1px 1px 1px 1px gray; */
    font-weight: bold;
}

.input {
    padding: 4px 4px 4px 4px;
}