.ingred {
    margin-right: 10px;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}

.ingred:hover {
    background-color: lightgray;
}

.table {
    width: 30%;
}

#ingredChoice {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 100px;
    height: 40px;
    font-size: 20px;
    background-color: salmon;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Nanum Gothic', sans-serif;
}