.ingred {
    margin-right: 10px;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}

.ingred:hover {
    background-color: lightgray;
}

.table {
    width: 30%;
}