.photo {
    height: 100px;
    width: 100px;
}

.table {
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: right;
}

.test {
    margin-left: 10px;
}

.selection {
    margin-right: 7px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.button11 {
    padding: 5px;
    margin: 3px;
    height: 40px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    width: 170px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.button11:hover {
    background-color: #a59056;
}

#set {
    position: relative;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 380px;
    height: 50px;
    padding: 10px;
    background: #FFF8D6;
    border-radius: 10px 10px 10px 3px;
}