.number {
    /* float:left; */
    margin: 10px;
    font-size: 20px;
    display: inline;
}

#okay {
    float: right;
    background-color: salmon;
    /* margin-left: 50px; */
}

#changeNumber {
    float: left;
}