.number {
    float:left;
    margin-left: 10px;
    font-size:20px;
}

#changeNumber{
    margin-left: 30px;
    clear:both;
    margin-bottom: 20px;
}

#okay {
    background-color: salmon;
    margin-left: 50px;
}