.dialog {
    position: relative;
    margin: 10px;
    width: 400px;
    height: auto;
    padding: 10px;
    background: #c2ecb2;
    border-radius: 10px 10px 10px 3px;
    box-shadow: 1px 1px 1px 1px gray;
    font-weight: bold;
}

.dialog2 {
    position: relative;
    margin: 10px;
    width: 400px;
    height: auto;
    padding: 10px;
    background: #ececec;
    /* background: none; */
    border-radius: 10px 10px 10px 3px;
    /* box-shadow: 1px 1px 1px 1px gray; */
    font-weight: bold;
}

.input {
    padding: 4px 4px 4px 4px;
}


/* .dialog:after {
    border-top: 15px solid #dbd57b;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 5px;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
} */