.MuiFormControl-fullWidth{
    background-color: white;
    margin-left: 10px;
}

.MuiAutocomplete-hasClearIcon{
    width: 150px;
    margin-left: 10px;
    float: left;
    padding-top: 3px;
}

#ok{
    float: left;
    width: 60px;
    height: 53px;
}

#startv{
    margin-top: 11px;
    float: left;
    padding-left: 30px;
    width: 100px;
}

#voicebutton{
    margin-top: 5px;
    height: 130px;
    float:left;
}

.dialog2_short {
    position: relative;
    font-size:18px;
    margin: 10px;
    width: 380px;
    height: 130px;
    float:left;
    padding: 10px;
    background: #ececec;
    border-radius: 10px 10px 10px 3px;
}

#voiceing {
    float:left;
}

#parent {
    height: 170px;
}