.App {
    text-align: center;
    /* height: 100%; */
}

#logo {
    position: fixed;
    width: 100%;
    background-color: white;
    height: auto;
    top: 40px;
    left: 40px;
}

#icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    float: left;
}

.text {
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.layout {
    margin-top: 120px;
    margin-left: 30px;
    /* height: 700px; */
}

.chatContainer {
    float: left;
    margin-right: 30px;
    padding: 2%;
    width: 60%;
    height: 620px;
    background-color: #fde7a8;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cartContainer {
    float: left;
    /* display: 'block'; */
    width: 25%;
    height: 620px;
    background-color: #f5d682;
    border-radius: 10px;
    padding: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#cart {
    margin-left: 25%;
    /* margin-top: 10px; */
}